body{
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
    padding:40px;
}

form{
    max-width:360px;
    background:#020617;
    padding:20px;
    border-radius:10px;
}

label{
    font-size:14px;
}

input,select{
    width:100%;
    padding:8px;
    margin-top:4px;
}

button{
    margin-top:10px;
    padding:10px;
    width:100%;
    background:#2563eb;
    color:white;
    border:none;
}

#result{
    margin-top:15px;
    font-weight:bold;
}
